content {
    width: 300%;
    margin: 80px auto;
  }
  
  
  .banner_btn {
    left: 250px;
    background: #8490ff ;
    color: #fff; }
    .banner_btn:hover {
      background-position: right center;
      color: rgb(83, 81, 81); }
     
   
      .example-full-width{
        width: 100%;
        margin-top: 10px;

      }